/* RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

section:nth-of-type(even) {
  background-color: #9792e4;
}
/* /RULES */

/* UTILITIES */
.flex {
  display: flex;
}

.italic {
  font-style: italic;
}

.rounded {
  border-radius: 1.875rem;
}

.button {
  padding: 0.625rem;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}
/* /UTILITIES */
/* Header */

header {
  background-color: #0084fd;
  color: white;
}

header nav {
  justify-content: space-between;
  padding: 1.25rem 0;
  align-items: center;
  max-width: 1140px;
}

nav div ul {
  gap: 1.875rem;
  align-items: center;
}

nav div li:last-of-type {
  background-color: #ffffff;
  color: black;
}

.fa-solid.fa-bars {
  display: none;
}
/* /header */

/* Main */
/* First section */
.container {
  max-width: 71.25rem;
  gap: 30px;
  margin: 0 auto;
}

section {
  margin-top: 50px;
  margin-bottom: 100px;
}

main section:first-of-type .fa-solid,
main section:first-of-type h3 {
  color: #0084fd;
}

main section:first-of-type h3 {
  padding: 20px 0;
  text-align: center;
}

.box.flex.rounded h3 {
  text-align: left;
}

main section:first-of-type .box {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  color: #5a6e7f;
}

p,
.right > h3 {
  line-height: 30px;
}

.box {
  background-color: #b5ddff;
  width: calc((100% - 60px) / 3);
  max-height: 21.25rem;
}

main section:first-of-type .box.flex.rounded {
  width: 750px;
  text-align: left;
  padding-bottom: 0;
}

section:first-of-type img {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}
main section:first-of-type .fa-solid {
  width: 100%;
  font-size: 80px;
  padding: 10px 0;
  text-align: center;
}

main section.container:first-of-type {
  margin-top: 3.125rem;
}

.apple {
  background-color: #0084fd;
  color: white;
  text-align: center;
  letter-spacing: 0.2rem;
  max-width: 12.5rem;
  font-weight: 700;
  margin-top: 50px;
}
/* /First section */
/* Second section */
.col {
  margin: 100px 30px;
}

.col:first-of-type {
  max-width: 400px;
}

.col:first-of-type div {
  color: white;
}

.col:first-of-type h2 {
  margin-top: 120px;
  margin-bottom: 50px;
}
.col:nth-of-type(2) h2 {
  margin-top: 20px;
}
.col:nth-of-type(2) {
  max-width: 330px;
  margin-left: 50px;
  margin-top: 250px;
  padding: 50px;
  background-color: white;
}
.col:nth-of-type(2) div {
  text-align: center;
}

#planning {
  padding-left: 130px;
}

#planning .col:first-of-type img,
#planning .col:nth-of-type(2) img {
  max-width: 100%;
}

.italic {
  padding: 10px;
}

.fa-solid.fa-arrow-down-long {
  margin-top: 20px;
  background-color: #9792e4;
  padding: 15px 17px;
  border-radius: 50px;
}
/* /Second section */
/* Third section */
body > main > section:nth-child(3) > div > h3,
body > main > section:nth-child(3) > div > h4,
.right > h3 {
  font-weight: 400;
}

body > main > section:nth-child(3) > div > h2 {
  font-size: 3rem;
  margin: 30px 0;
  color: #9792e4;
}

body > main > section:nth-child(3) > div > h4 {
  font-size: 1.5rem;
  line-height: 2.1875rem;
}

.row.flex {
  max-height: 280px;
  background-color: #9792e4;
  margin: 30px 0;
}

.left img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 25px;
}

.right h3 {
  color: white;
  padding: 60px 50px 30px;
}

h5 {
  font-size: 1.2rem;
  color: white;
  padding-left: 45px;
}
/* /third section */
/* /Main */

/* RESPONSIVENESS */

/* Tablet mode */
/* Header */
@media screen and (max-width: 768px) {
  nav div:last-of-type {
    display: none;
  }
  /* /header */
  /* Body */
  /* First section */
  .container {
    justify-content: space-between;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    max-width: 46.5625rem;
  }

  .fa-solid.fa-bars {
    display: inline;
  }

  .box {
    max-width: calc((100% - 30px) / 3);
    min-height: 560px;
  }

  main section:first-of-type .box.flex.rounded {
    max-width: calc(66% - 10px);
    display: block;
  }
  section:first-of-type img {
    width: 50%;
    height: 50%;
    padding-top: 40px;
  }
  /* /first section */
  /* Second section */
  section:nth-of-type(2) .container {
    display: block;
  }

  #planning {
    padding: 10px 0;
  }
  #planning .col {
    max-width: 100%;
  }

  .col:first-of-type h2 {
    font-size: 3.75rem;
  }

  .col:nth-of-type(2) {
    margin-top: 0;
    margin-left: 30px;
  }
  /* /second section */
  /* /main */
  /* footer */
  /* /footer */
}

/* /Tablet mode */

/* Smartphone mode */
/* Header */
@media screen and (max-width: 480px) {
  nav div:last-of-type {
    display: none;
    min-width: 330px;
  }

  header nav {
    min-width: 330px;
  }
  .fa-solid.fa-bars {
    display: inline;
  }
  /* /header */
  /*  */
  .container {
    display: block;
  }

  .box {
    min-width: 310px;
    max-height: 600px;
    margin-bottom: 30px;
  }

  .box.rounded {
    min-height: 360px;
  }

  .col:first-of-type h2 {
    font-size: 2.75rem;
  }
}
/* /Smartphone mode */

/* /RESPONSIVENESS */
